*{
    Margin: 0; 
    Padding: 0; 
    Box-sizing: border-box; 
    } 

    body {
      background: rgb(139,94,195);
      background: linear-gradient(90deg, rgba(139,94,195,1) 0%, rgba(4,193,231,1) 100%);
      font-family: Arial, Helvetica, sans-serif;
      height: 100vh;  /*toda a altura da tela para evitar futuros bugs visuais*/
      font-size: 14px;
    
  }
  
  header {
      height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    
.menu {
  background: rgba(139,94,195,1);
  padding: 5px;
  position: fixed;
  top: 0;
width: 100vw;
}
    

.menu a {
    color: #53ffcf;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 1.35em;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menuLateral{
  background-color: black;
  min-height: 100vh;
 /* width: 15vw;*/
  position: absolute;

}

.menuLateral h3, .menuLateral li{
  color: white;
}

.menuLateral h3{
  padding: 5px;
  margin-bottom: 6px;
}

.menuLateral li {
  padding: 0px 0px 0px 10px;
  margin-bottom: 5px;
}



.albuns {
  min-height: 100vh;
  /*width: 70vw;*/
 
}



.albuns .grid 
{
  display: grid;
  gap: 2.5em;
  background: pink;
  text-align: center;

}

.albuns .grid figure {
  margin-left: 1.2vw;
 
}

@media (min-width: 560px) {
  .grid {
  Grid-template-columns: repeat(3, 240px); 
  Align-content: center; 

  Height: calc(100vh – 4em – 48px- 1.5em);
  
  }
  }
  
  .conteudo-menu {
    display: grid;
    Grid-template-columns: 75% 25%; 
  }



.img-album {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 55%;
  }




.site-title, .site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-title{
    font-size: 2.5em;
    padding: 7px;
}

.tituloSessão {
    color: whitesmoke;
    margin-bottom: 1em; /*dar uma espaçada em relação aos elementos que vem em baixo*/
   margin-left: 1.9vw; /* mais margem lateral do que as imgs para dar a impressão de alinhamento*/
    font-size: 2em;

    


}




  
